.header-icon {
  display: flex;
  align-items: center;
}
.header img {
  width: 10%;
  height: 60%;
}
.header h1 {
  color: #5a6978;
  font-family: Lato;
  font-size: 40px;
  text-align: center;
}
.nav {
  margin-left: 4px;
  gap: 30px;
}
.nav-link {
  text-decoration: none;
  font-size: 25px;
  color: #5a6978;
  font-family: Lato;
  text-align: center;
}
.nav-item:hover {
  text-decoration: none;
  background-color: #e5e9f2;
  font-family: Lato;
  text-align: center;
}
.nav-item {
  padding: 6px;
}
#active {
  background-color: #e5e9f2;
}
.ajad {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2%;
  background-color: #47525e;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
}
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #47525e;
  padding-top: 3%;
  padding-bottom: 3%;
}
.footer-nav a {
  font-size: 20px;
  color: white;
  font-family: Lato;
  text-decoration: none;
}
.footer-nav a:hover {
  font-size: 20px;
  color: #5a6978;
  font-family: Lato;
  text-decoration: none;
}
.footer-nav ul {
  text-decoration: none;
  list-style: none;
}
.footer-nav-el1 {
  margin-left: 2%;
}
.footer-nav-el2 {
  margin-right: 8%;
  display: flex;
  flex-direction: column;
}
.form-box {
  padding: 7%;
}
.button-liitu {
  background-color: #77d353;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  cursor: pointer;
}
.socials {
  margin-left: 20%;
  padding-top: 20px;
  color: white;
}
.form {
  display: flex;
  gap: 12px;
}
.form-box-div {
  margin-right: 50%;
}
.social-icons {
  display: flex;
  gap: 3%;
  cursor: pointer;
  margin-bottom: -10%;
}

.meist-container {
  display: flex;
  flex-wrap: row wrap;
  background-color: #E5E9F2;
  margin: 30px;
}

.body-h1{
  margin-left: 30px;
  margin-top: 10px;
  color: #47525E;
  font-family: Lato;
  font-size: 40px;
  text-align: left;
}

.meist-container p{
  margin-left: 30px;
  color: #5a6978;
  font-family: Lato;
  font-size: 18px;
  text-align: left;
}

.meist-container div {
  width: 50%;
}

.minu-div {
  display: flex;
  flex-wrap: flex wrap;
}

.aegubheader {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #77D353;
}

.grid-container {
  display: grid;
  grid-template-columns: 1 auto auto;
}
.grid-item {
  color: #47525E;
  font-family: Lato;
  margin-left: 20px;
  padding: 10px;
  font-size: 26px;
  text-align: left;
}

.minu-andmed {
  width: 60%;
  background-color: #E5E9F2;
  margin: 30px;
}

.laenutuste-info {
  width: 40%;
  background-color: #77D353;
}

.laenutused-h2 {
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 30px;
}

.grid-item-laenutatud {
  margin: 10px;
  font-size: 18px;
  color: white;
  font-family: Lato;
  text-align: center;
}

.uudised-div {
  width: 60%;
  margin: 30px;
}

.uudis-div {
  background-color: #e5e9f2;
  margin: 30px;
}

.uudised-h1 {
  color: #47525E;
  font-weight: bold;
  font-family: Lato;
  font-size: 30px;
  text-align: left;
}

.uudis-h1 {
  padding: 10px;
  color: #47525E;
  font-family: Lato;
  font-size: 24px;
  text-align: left;
}

.uudise-sisu {
  display: flex;
  flex-wrap: flex wrap;
}